body {
  display: grid;
  place-items: center;
}

.error-details {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.status-code {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 4.5rem;
}

.message {
  font-size: 2rem;
}

.back-btn {
  text-decoration: none;
  background-color: var(--primary-color);
  padding: 0.5rem 1.5rem;
  color: var(--text-color);
  font-weight: bold;
  border-radius: 2rem;
  transition: background-color var(--transition);
}

.back-btn:hover {
  opacity: 0.8;
}
