@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --primary-color: #023e8a;
  --secondary-color: #0077b6;
  --utility-color: #ff9e00;
  --tertiary-color: #ff6d00;

  --dark-bg-color: #121212;
  --text-color: #f9f9f9;

  --transition: 0.5s ease-in-out;

  --light-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: var(--text-color);
  color: var(--dark-bg-color);
  transition: var(--transition);
  height: 100vh;
}

body.dark-theme {
  background-color: var(--dark-bg-color);
  color: var(--text-color);
}

header,
nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0;
  transition: var(--transition);
}

.navbar {
  padding: 1rem 2rem;
  box-shadow: var(--light-box-shadow);
  background-color: var(--text-color);
}

body.dark-theme .navbar {
  background-color: var(--dark-bg-color);
  box-shadow: var(--dark-box-shadow);
}

.navbar .logo a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

body.dark-theme .logo a {
  color: var(--text-color);
}

.navbar .theme-toggler {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
  cursor: pointer;
  transition: var(--transition);
}

.theme-toggler span {
  display: none;
  font-size: 0.5rem;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
}

body.dark-theme .theme-toggler span {
  background-color: var(--text-color);
  color: var(--dark-bg-color);
}

.theme-toggler:hover span {
  display: flex;
}

.theme-toggler box-icon {
  fill: var(--dark-bg-color);
}

body.dark-theme .theme-toggler box-icon {
  fill: var(--text-color);
}

.theme-toggler .sun {
  display: none;
}

body.dark-theme .sun {
  display: flex;
}

body.dark-theme .moon {
  display: none;
}
