@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

:root {
  --primary-color: #023e8a;
  --secondary-color: #0077b6;
  --utility-color: #ff9e00;
  --tertiary-color: #ff6d00;

  --dark-bg-color: #000000;
  --text-color: #ffffff;

  --transition: 0.5s ease-in-out;

  --light-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
  --dark-box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'League Spartan', sans-serif;
}

body {
  background-color: var(--text-color);
  color: var(--dark-bg-color);
  transition: var(--transition);
  height: 100vh;
}

body.dark-theme {
  background-color: var(--dark-bg-color);
  color: var(--text-color);
}

header,
nav {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 5;
  position: fixed;
  top: 0;
  left: 0;
  transition: var(--transition);
}

.navbar {
  padding: 1rem 2rem;
  box-shadow: var(--light-box-shadow);
  background-color: var(--text-color);
}

body.dark-theme .navbar {
  background-color: var(--dark-bg-color);
  box-shadow: var(--dark-box-shadow);
}

.navbar .logo a {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

body.dark-theme .logo a {
  color: var(--text-color);
}

.navbar .hamburger-menu {
  width: 40px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  position: relative;
}

.hamburger-menu .bar {
  width: 85%;
  height: 4px;
  background-color: var(--dark-bg-color);
  transition: 0.4s;
}

body.dark-theme .hamburger-menu .bar {
  background-color: var(--text-color);
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: translateY(10px) rotate(45deg);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.navbar .theme-toggler,
.navbar .user-profile,
.navbar .settings,
.navbar .log-out {
  display: flex;
  align-items: center;
  justify-content: left;
  column-gap: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  transition: var(--transition);
}

.theme-toggler span {
  display: none;
  font-size: 0.5rem;
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  padding: 0.25rem 0.5rem;
  border-radius: 2rem;
  transition: var(--transition);
}

body.dark-theme .theme-toggler span {
  background-color: var(--text-color);
  color: var(--dark-bg-color);
}

/* .theme-toggler:hover span {
  display: flex;
} */

.theme-toggler box-icon {
  fill: var(--dark-bg-color);
}

body.dark-theme .theme-toggler box-icon {
  fill: var(--text-color);
}

.theme-toggler .sun {
  display: none;
}

body.dark-theme .sun {
  display: flex;
}

body.dark-theme .moon {
  display: none;
}

.menu-content {
  display: none;
  position: absolute;
  top: 60px;
  right: 0;
  min-width: 25%;
  background: var(--text-color);
  box-shadow: var(--light-box-shadow);
  padding: 1rem;
  row-gap: 2.5rem;
  border-radius: 5px;
  text-align: left;
}

body.dark-theme .menu-content {
  background-color: var(--dark-bg-color);
  box-shadow: var(--dark-box-shadow);
}

body.dark-theme .menu-content box-icon {
  color: var(--text-color);
  fill: var(--text-color);
}

.theme-toggler,
.user-profile,
.settings,
.log-out {
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 7.5vh;
  border-bottom: 1px solid var(--dark-bg-color);
}

body.dark-theme .theme-toggler,
body.dark-theme .user-profile,
body.dark-theme .settings {
  border-bottom: 1px solid var(--text-color);
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding-top: 80px;
}
