<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/static/css/error-page.css" />
    <link rel="stylesheet" href="/frontend/static/css/sign-up.css" />
    <link rel="stylesheet" href="/frontend/static/css/chat.css" />
    <link rel="stylesheet" href="/frontend/static/css/style.css" />
    <title>Real Time Forum</title>
  </head>
  <body>
    <main class="posts" id="app"></main>

    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
    <script src="/frontend/static/js/app.js" type="module"></script>
  </body>
</html>
