<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/static/css/style.css" />
    <link rel="stylesheet" href="/frontend/static/css/sign-up.css" />

    <title>Sign Up</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">Real Time Forum</a></div>

        <!-- <div class="theme-toggler">
          <span class="tooltip-text">Toggle Mode</span>
          <box-icon class="sun" name="sun"></box-icon>
          <box-icon class="moon" name="moon"></box-icon>
        </div> -->
        <div class="hamburger-menu">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
      </nav>
    </header>

    <main>
      <p class="message-popup" id="message-popup"></p>
      <div class="form-container">
        <h2>Sign Up</h2>
        <form action="/sign-up" method="POST" id="signup-form">
          <div class="user-names">
            <div class="input-group">
              <label for="first-name">First Name</label>
              <input type="text" id="first-name" name="first-name" required />
            </div>

            <div class="input-group">
              <label for="last-name">Last Name</label>
              <input type="text" id="last-name" name="last-name" required />
            </div>
          </div>

          <div class="name-gender-age">
            <div class="input-group">
              <label for="nick-name">Nickname</label>
              <input type="text" id="nick-name" name="nick-name" required />
            </div>

            <div class="input-group">
              <label for="gender">Gender</label>
              <select id="gender" name="gender" required>
                <option value="">Select Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
              </select>
            </div>

            <div class="input-group">
              <label for="age">Age</label>
              <input type="number" id="age" name="age" required />
            </div>
          </div>

          <div class="input-group">
            <label for="email">Email</label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="password">
            <div class="input-group">
              <label for="password">Password</label>
              <div class="password-wrapper">
                <input type="password" id="password" name="password" required />
                <button
                  type="button"
                  class="toggle-password-visibility"
                  data-target="password"
                >
                  <box-icon name="show"></box-icon>
                </button>
              </div>
            </div>

            <div class="input-group">
              <label for="confirmed-password">Confirm Password</label>
              <div class="password-wrapper">
                <input
                  type="password"
                  id="confirmed-password"
                  name="confirmed-password"
                  required
                />
                <button
                  type="button"
                  class="toggle-password-visibility"
                  data-target="confirmed-password"
                >
                  <box-icon name="show"></box-icon>
                </button>
              </div>
            </div>
          </div>

          <button type="submit" class="sign-up-btn btn">Create Account</button>
        </form>

        <br />

        <p class="continue-with" style="font-size: small">Or Continue With</p>

        <div class="oauth-buttons">
          <button
            type="button"
            class="oauth-btn google-btn"
            onclick="window.location.href='/auth/google'"
          >
            <box-icon style="fill: white" type="logo" name="google"></box-icon>
            Google
          </button>
        </div>

        <p class="switch-form">
          Already have an account? <a href="/sign-in">Sign In</a>
        </p>
      </div>
    </main>

    <script src="/frontend/static/js/script.js"></script>
    <script src="/frontend/static/js/signup.js"></script>
    <!-- Boxicons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>
