<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/frontend/static/css/style.css" />
    <link rel="stylesheet" href="/frontend/static/css/sign-up.css" />
    <script defer src="/frontend/static/js/script.js"></script>
    <script defer src="/frontend/static/js/signin.js"></script>

    <title>Sign In</title>
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="logo"><a href="/">Forum</a></div>
        <div class="theme-toggler">
          <span class="tooltip-text">Toggle Mode</span>
          <box-icon class="sun" name="sun"></box-icon>
          <box-icon class="moon" name="moon"></box-icon>
        </div>
      </nav>
    </header>

    <main>
      <p class="message-popup" id="message-popup"></p>
      <div class="form-container">
        <h2>Sign In</h2>
        <form action="/sign-in" id="signin-form" method="POST">
          <div class="input-group">
            <label for="email">Email or Nickname</label>
            <input type="email" id="email" name="email" required />
          </div>

          <div class="input-group">
            <label for="password">Password</label>
            <div class="password-wrapper">
              <input type="password" id="password" name="password" required />
              <button
                type="button"
                class="toggle-password-visibility"
                data-target="password"
              >
                <box-icon name="show"></box-icon>
              </button>
            </div>
          </div>

          <div class="line"></div>
          <button type="submit" class="sign-in-btn btn">Sign In</button>
        </form>

        <br />

        <p>Or Continue With</p>

        <div class="oauth-buttons">
          <button
            type="button"
            class="oauth-btn google-btn"
            onclick="window.location.href='/auth/google'"
          >
            <box-icon style="fill: white" type="logo" name="google"></box-icon>
            Google
          </button>
        </div>
        
        <p class="switch-form">
          Don't have an account? <a href="/sign-up">Sign Up</a>
        </p>
      </div>
    </main>

    <!-- Boxicons -->
    <script src="https://unpkg.com/boxicons@2.1.4/dist/boxicons.js"></script>
  </body>
</html>
